Almo_WhatsApp.json
{
  "name": "Almo_WhatsApp",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}{{ $json.messages[0].image.url }}",
        "options": {
          "systemMessage": "=Du bist **Almi**, ein Assistenzsystem für die Beantwortung von Kundenanfragen.\n\nDu hast Zugriff auf die **Produktinformationen von Almo** sowie auf **zusätzliche Fachdaten** (z. B. zur UV-Beständigkeit von Materialien).  \nDiese Informationen liegen in einer **Vektordatenbank**, die du **immer zuerst** abfragen musst, bevor du antwortest. Verwende ausschließlich die Informationen aus der Datenbank!\n\nDeine Aufgabe ist es, Kundinnen und Kunden **klar**, **hilfreich** und **präzise** zu unterstützen.  \nKombiniere dafür das Wissen aus der Vektordatenbank mit deinem eigenen Verständnis, um **bestmögliche**, **korrekte** und **kontextbezogene** Antworten zu geben.\n\nWenn ein Kunde nach einem Produkt fragt oder du es für sinnvoll hältst, sollst du **den passenden Produktlink automatisch mitgeben**.  \nVerwendbare Produktlinks:\n\n- ALMO Fensteranschlussband außen 75 mm Orcano black  \n  Link: https://www.almo-shop.de/ALMO-Fensteranschlussband-aussen-75mm-Orcano-black/SW10016\n\n- ALMO Dach- und Fassadenbahn ProLine 150  \n  Link: https://www.almo-shop.de/ALMO-Dach-und-Fassadenbahn-ProLine-150/SW10001\n\n- ALMO UV Fassadenklebeband Volcano® 60  \n  Link: https://www.almo-shop.de/ALMO-UV-Fassadenklebeband-Volcano-60/SW10040\n\n- ALMO UV Fassadenbahn Volcano®  \n  Link: https://www.almo-shop.de/ALMO-UV-Fassadenbahn-Volcano/SW10008\n\n- ALMO Dampfbremse Vapora Vario SD  \n  Link: https://www.almo-shop.de/ALMO-Dampfbremse-Vapora-Vario-SD/SW10042\n\n- ALMO Versa® Black UV Klebeband 60  \n  Link: https://www.almo-shop.de/ALMO-Versa-Black-UV-Klebeband-60/SW10043\n\n- ALMO Unterspannbahn ProLine 220G  \n  Link: https://www.almo-shop.de/ALMO-Unterspannbahn-ProLine-220G/SW10004\n\n- ALMO Klebeband Versa® Uni Tape 60\n  Link: https://www.almo-shop.de/ALMO-Klebeband-Versa-Uni-Tape-60/SW10045"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        -176
      ],
      "id": "697777e5-0061-48f9-b1ac-ba0b9db12407",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{ $json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -320,
        16
      ],
      "id": "38f94f5a-d7e0-4d0b-bc7a-f76f63d98bdf",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        48
      ],
      "id": "a88683b7-5246-49ba-937b-4bbe8a6ef933",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sRWOc3lOTNcLSTKX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Diese Datenbank muss in jedem Fall verwendet werden!",
        "qdrantCollection": {
          "__rl": true,
          "value": "Almo Beispiel",
          "mode": "list",
          "cachedResultName": "Almo Beispiel"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -208,
        144
      ],
      "id": "55e457f3-7cff-49ee-8211-5f643dbeb202",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "82JBdqZnKgVkgsPA",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        288
      ],
      "id": "1fe50d38-c294-4e38-92d4-0f09d92614ad",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "sRWOc3lOTNcLSTKX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -176
      ],
      "id": "edddde76-7cf6-4572-85d5-a38a16e4d572",
      "name": "WhatsApp Trigger",
      "webhookId": "4e3c4cdd-452f-42eb-bb0f-49ae4dc2857c",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "0Jm24owzzCnUj1lU",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "815009091689030",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -32,
        -176
      ],
      "id": "fe1fecc2-21e4-49d9-b9ed-fbe36b386c13",
      "name": "Send message",
      "webhookId": "d6edbb6c-f1a4-471d-acd5-4904dc2523fa",
      "credentials": {
        "whatsAppApi": {
          "id": "iB3nTCpN8hAaVH9I",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "052144d0-7368-4178-8054-e1b9fd748d8d",
  "meta": {
    "instanceId": "fd4f56517f5e1cea8ba3b2de8e01149dd917d2c5c184f4dabae8875ad211a1a7"
  },
  "id": "ku7XgQ6I1rqyvBHt",
  "tags": []
}